*.exp
*.obj
*.ncb
*.pdb
*.manifest
*.idb
*Log.htm
*.suo
*.user
*.vbw
*.iobj
*.ipdb
/jansson-2.12/
/yara_helper/Debug/
/yara_helper/Release/
/yara_helper/.vs/
/libyara/*/Debug/
/libyara/*/Release/
/libyara/*/.vs/
YaraWorkBench_Setup.exe
lic_removed.zip

